---
title: Card view
layout: default
---


<div class="cards">
  {% for t in site.data.ci.tests %}
    <div class="card {{t.status}} {{t.id}}">
    <h3>{{t.name}}</h3>
    <!-- Build was a <a href="{{t.log}}">{{t.status}}</a> -->
    <a href="{{t.log}}">[ log ]</a>
    {% if site.data.github[t.name] %}
    &nbsp;
    <a href="{{site.data.github[t.name]}}">[ github ]</a>
    {% endif %}
<!-- 
    <br>Started {{t.start}}
    <br>Run for {{t.duration}}&nbsp;s
 -->
    {% if t.last_success %}<br><a href="{{t.last_success_url}}">[ Last success ]</a>{% endif %}
    {% if t.first_failure %}&nbsp;<a href="{{t.first_failure_url}}">[ First failure ]</a>{% endif %}
    </div>
  {% endfor %}
</div>
